body{
    font-family: sans-serif;
    font-size: 25px;
}

#welcome{
    text-align: center;
    background-color: aqua;
    font-size: 30px;
}

#start-button-container{
    text-align: center;
}

#first-question{
    text-align: center;
}

#buttons{
    text-align: center;
}

button{
    background-color: beige;
    text-align: center;
    opacity: .7;
    font-size: 20px;
}

#name{
    float:left;
    background-color: aqua;
    margin-bottom:0;
    padding-left: 15%;
    padding-right: 15%;
}
.clearfix {
    overflow: auto;
  }
#instructions{
 text-align: center;
 padding-left: 20%;
 padding-right: 30%;
 margin-bottom: 0;
float: right;
 
}



img{
    width: 25%;
    align-content: center;
    float: left;
}
