body{
    background:white;
    font-family: 'Open Sans', sans-serif;
}

.Ingredients-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -350%);
    background-color: rgb(85, 85, 85);
    color: white;
    font-size: 50px;
    opacity: 0.80;
    padding: 22px;
    border-width: initial;
    border-style: none;
    border-color: black;
    border-image: initial;
    border-radius: 30px;
}

p{
    position: absolute;
    text-align: center;
    font-size: 40px;
    transform: translate(+90% , -100%);
}
h2{
    position: absolute;
    text-align: center;
    font-size: 31px; 
    transform: translate(+125% , +500%);
}

.search {
    width: 200%;
    display: flex; 
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 55px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .searchButton {
    width: 60px;
    height: 55px;
    border: 3px solid black;
    background: red;
    text-align: center;
    color:black;
    border-radius: 0 5px 5px 0;
    font-size: 30px;
  }
  
  .wrap{
    position: absolute;
    top: 50%;
    left: 43%;
    transform:translate(-50% , -250%);
    height: 40px;
  }
